[submodule "config/niri"]
	path = config/niri
	url = git@github.com:wandabastyle/niri.git
[submodule "config/dunst"]
	path = config/dunst
	url = git@github.com:wandabastyle/dunst.git
[submodule "config/nvim"]
	path = config/nvim
	url = git@github.com:wandabastyle/nvim.git
[submodule "config/mpv"]
	path = config/mpv
	url = git@github.com:wandabastyle/mpv.git
[submodule "config/bat"]
	path = config/bat
	url = git@github.com:wandabastyle/bat.git
[submodule "config/nwg-bar"]
	path = config/nwg-bar
	url = git@github.com:wandabastyle/nwg-bar.git
[submodule "config/waybar"]
	path = config/waybar
	url = git@github.com:wandabastyle/waybar.git
